{% extends 'layout.html' %}

{% block title %}Registo{% endblock %}

{% block content %}

			<div class="relatorio">
			<h1>Registo de atividade retrabalho</h1>
			<div class="links">

      <label for="fname">Os retrabalhos da linha estão identificados, têm instruções de trabalho e locais apropriados?  <br>
        Se sim, contabiliza só uma vez 12 pontos e depois de implementado deixa de somar pontos. <br>     
        Se não, são retirados -3 pontos todas as semanas até estar implementado. 
            </label>
				
				
			<form action="{{ url_for('Registo_de_atividade_retrabalho_completado', id=relatorio[0]) }}" method="post" autocomplete="off">
				 <label for="fname">Observação</label>
   				 <input type="text" id="observacao" name="observacao" placeholder="Por favor, inserir observação">
   				 <br>
   		
  			  <div class="custom-control custom-checkbox mb-3">
  				
   				<input type="checkbox" class="custom-control-input" id="finalizar" name="finalizar" value="finalizar" onClick="active()">
  				<label class="custom-control-label" for="finalizar">Confirmo a realização de todas as tarefas da atividade proposta</label><br>
  				</div>
  				<br>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Concluido" id="submit" disabled>
			</form>
		
		</div>
<script>
function active(){

	var check = document.getElementById("finalizar").checked

	if(check==true)
	{
		document.getElementById("submit").disabled = false;
		document.getElementById("submit").style.background='green';
	}else{
		document.getElementById("submit").disabled = true;
		document.getElementById("submit").style.background='gray';
	}
}
 

</script>

{% endblock %}